<div class="jumbotron center">
		<h1>Welcome to Pinteresting!</h1>
		<%= link_to "Log in", "#", class: "btn btn-lg btn-default" %>
		<%= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
</div>